.container {
	border: 10px solid #b0b0b0;
	padding: 0px !important;
	background: #fff;
}
.header-principal {
	border: 1px solid black;
	background: linear-gradient(90deg, #1c315c 0%, #4b6cb7 100%); /* ·182848 */
	display: flex;
	justify-content: space-between;
	height: 150px;
	color: #fff;
}
.photo-header img {
	height: 120px;
	margin-left: 15px;
	margin-top: 10%;
	border-radius: 70px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(175, 175, 175, 1);
	-moz-box-shadow: 2px 2px 3px 0px rgba(175, 175, 175, 1);
	box-shadow: 2px 2px 3px 0px rgba(175, 175, 175, 1);
}
.title-header {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: flex-end;
}
.title-header p {
	font-size: 2.2em;
	text-shadow: 3px 3px 3px rgba(170, 170, 170, 1);
}
.contact {
	margin-right: 15px;
}
.contact p {
	margin: 0px 0px 8px;
}
.content-principal {
	display: flex;
	width: 100%;
}
.content-principal h3,
h4 {
	/* background-color: #4b6cb7; */
	background: linear-gradient(90deg, #1c315c 0%, #4b6cb7 100%); /* ·182848 */
	background: linear-gradient(
		90deg,
		rgb(28, 49, 92, 0.9) 35%,
		rgba(137, 171, 214, 1) 70%
	);
	color: #fff;
	border-radius: 6px;
	padding: 10px;
	/* sombra */
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
}
.content-principal p {
	margin: 0px;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
}
.content p:first-child {
	font-weight: bold;
}

.content {
	width: 60%;
	padding: 15px;
}
.content div {
	margin-bottom: 15px;
}
.sidebar {
	background-color: #f1f1f1;
	width: 40%;
	position: relative;
}
.skill {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-wrap: nowrap;
}
.skill-icons {
	width: 20%;
}
.skill div {
	margin-bottom: 15px;
}
.skills img {
	width: 40px;
	margin: 0px 10px 11px 10px;
}
.skill-competencias {
	padding: 0px 15px;
}
.rrss {
	display: flex;
	justify-content: space-evenly;
	/* align-items: flex-end; */
	margin-bottom: 35px;
	/* height: 100px; */
	position: absolute;
	bottom: 0;
	width: 100%;
}
.rrss img {
	width: 50px;
}
footer {
	display: none;
}
.footer-principal {
	background-color: #fff;
	border: 1px solid red;
	text-align: center;
}
